.description__map {
    max-width: 74vw;
    /*max-height: 25vh;*/
    padding-top: 72px;
    padding-left: 22px;
}

@media screen and (max-width: 1024px) {
    .description__map {
        max-width: 85vw;
        padding-top: 92px;
        padding-left: 23px;
        max-height: 63vh;
    }
}

@media screen and (max-width: 768px) {
    .description__map {
        max-width: 720px;
        max-height: 257px;
        padding-top: 56px;
        padding-left: 21px;
    }
}

@media screen and (max-width: 320px) {
    .description__map {
        max-width: 290px;
        max-height: 113px;
        padding-top: 41px;
        padding-left: 13px;
    }
}
