.page {
    background: #E5E5E5;
    max-width: 1280px;
    color: #FFFFFF;
    font-family: Inter;
}


/*
@media screen and (max-width: 1024px) {
    .page {
        max-width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 100vw;
    }
}*/