.gallery {
    margin: 0px auto;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .gallery {
        margin: 88px 24px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        margin: 64px 16px 64px;
    }
}