.gallery {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .gallery {
        margin: 88px auto;
        padding: 0 24px;
    }
}

@media screen and (max-width: 650px) {
    .gallery {
        margin: 88px auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 466px) {
    .gallery {
        margin: 64px 20px;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        margin: 64px 0px;
        padding: 0px;
    }
}