.gallery__img {
    max-width: 21.9vw;
}

@media screen and (max-width:1024px) {
    .gallery__img {
        display: block;
        max-width: 38vw;
        max-height: 53vh;
        object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    .gallery__img {
        max-width: 47vw;
        max-height: 69vh;
    }
}

@media screen and (max-width:320px) {
    .gallery__img {
        max-width: 89.9vw;
    }
}