.gallery__items {
    margin: 0;
    /* max-width: 115vw; */
    list-style: none;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .gallery__items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
        grid-auto-flow: rows;
    }
}

@media screen and (max-width: 768px) {
    .gallery__items {
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
        gap: 16px;
        grid-auto-rows: auto;
    }
}

@media screen and (max-width: 320px) {
    .gallery__items {
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        gap: 10px;
        grid-auto-rows: auto;
    }
}