.best-place__url {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    padding-bottom: 12px;
    color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .best-place__url {
        line-height: 12px;
    }
}