.best-place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding-bottom: 25px;
}

.best-place__paragraph:last-child {
    padding-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .best-place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .best-place__paragraph {
        max-width: 288px;
    }
}
