.best-place__paragraph {
    margin: 0;
    font-weight: 400px;
    font-size: 18px;
    line-height: 163%;
}

.best-place__paragraph:last-child {
    padding-top: 26px;
}

@media screen and (max-width: 768px) {
    .best-place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
    .best-place__paragraph:last-child {
        padding-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .best-place__paragraph {
        padding: 0px 16px;
    }
}
