.bottom-banner__subtitle {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 27px;
    padding: 0px 380px;
    text-align: center;
}

@media screen and (max-width: 1120px) {
    .bottom-banner__subtitle {
        padding: 0px 332px 193px;
    }
}

@media screen and (max-width: 768px) {
    .bottom-banner__subtitle {
        padding: 0px 204px 115px;
    }
}

@media screen and (max-width: 320px) {
    .bottom-banner__subtitle {
        padding: 16px 40px 0px;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
}