.gallery__item {
    /* width: 22vw; */
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .gallery__item {
        max-width: 34vw;
    }
}

@media screen and (max-width: 320px) {
    .gallery__item {
        max-width: 90vw;
        padding-left: 0;
    }
}