    .description__banner {
        max-width: 983px;
        height: 48vw;
        background-image: url(../../../images/kalegin-michail-179870-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    @media screen and (max-width: 1024px) {
        .description__banner {
            max-width: 928px;
            height: 57vw;
        }
    }
    
    @media screen and (max-width: 768px) {
        .description__banner {
            max-width: 100%;
            min-height: 52.5vh;
            /* margin-top: 31px; */
        }
    }
    
    @media screen and (max-width: 320px) {
        .description__banner {
            max-width: 100%;
            min-height: 50.5vh;
        }
    }