.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 56px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 100vw;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media screen and (min-width: 320px) and (max-width: 517px) {
    .header {
        max-width: 100vw;
    }
}