.banner {
    max-width: 1184px;
    margin: 0px auto 92px;
}

@media screen and (max-width: 1024px) {
    .banner {
        max-width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        max-width: 100vw;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 320px) and (max-width: 483px) {
    .banner {
        margin-bottom: 64px;
    }
}
