.gallery__items {
    margin: 92px auto 0;
    /* max-width: 51vw; */
    width: calc(100% - 2 * 48px);
    list-style: none;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .gallery__items {
        /* max-width: 99vw; */
        grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .gallery__items {
        margin: 88px auto 0;
        grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
        gap: 16px;
        /*grid-auto-rows: auto;*/
        /* max-width: 90vw; */
        width: calc(100% - 2 * 16px);
    }
}

@media screen and (max-width: 320px) {
    .gallery__items {
        margin: 64px auto 0;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        gap: 10px;
        width: calc(100vw - 2 * 16px);
    }
}
