.best-places__item {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 148px 461px;
    grid-auto-rows: 100px 300px;
    grid-template-areas: "title url" "img paragraph";
    margin-bottom: 73px;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .best-places__item {
        grid-template-columns: 474px 476px;
        grid-template-rows: 211px 400px;
        /* grid-auto-rows: 100px 300px; */
        margin-bottom: 58px;
    }
}

@media screen and (max-width: 768px) {
    .best-places__item {
        grid-template-columns: 365px 349px;
        grid-template-rows: 202px 393px;
        /* grid-auto-rows: 100px 300px; */
        margin-bottom: 58px;
    }
}

@media screen and (max-width: 320px) {
    .best-places__item {
        display: grid;
        margin: 0;
        grid-template-columns: 320px;
        grid-auto-rows: auto;
        /* row-gap: 16px; */
        /* max-width: 320px; */
        /* grid-template-rows: repeat(4, 100px 387px); */
        row-gap: -15px;
        grid-template-areas: "title" "url" "img" "paragraph";
    }
}