.best-places__title {
    margin: 0;
    grid-area: title;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    white-space: pre-line;
}

@media screen and (max-width: 870px) {
    .best-places__title {
        font-size: 60px;
        align-self: self-start;
        grid-row: 1/2;
    }
}

@media screen and (max-width: 768px) {
    .best-places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 550px) {
    .best-places__title {
        padding-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .best-places__title {
        max-width: 84vw;
        margin: 0;
        font-size: 32px;
        line-height: 35px;
        grid-area: title;
        padding-left: 16px;
    }
}
