.footer__copyright {
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 483px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        padding-left: 16px;
    }
}
