.lang {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 27px;
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-top: 47px;
    margin-right: 49px;
}

@media screen and (max-width: 768px) {
    .lang {
        margin-top: 46px;
        margin-right: 23px;
    }
}

@media screen and (min-width: 320px) and (max-width: 650px) {
    .lang {
        margin-top: 30px;
        margin-right: 17px;
        font-size: 18px;
        line-height: 20px;
    }
}