.description__name {
    margin: 0;
    font-weight: 400px;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 8px;
}

@media screen and (max-width: 768px) {
    .description__name {
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .description__name {
        padding-left: 16px;
    }
}