.description__name {
    margin: 0;
    /* font-family: Inter; */
    font-weight: 400px;
    font-style: normal;
    font-size: 10px;
    line-height: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 8px;
}

@media screen and (max-width: 1024px) {
    .description__name {
        padding-top: 0px;
        font-size: 10px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .description__name {
        padding-left: 24px;
        margin-top: 4px;
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 320px) {
    .description__name {
        padding-left: 16px;
    }
}