.best-places__url {
    margin: 0;
    grid-area: url;
    align-self: center;
    padding-top: 20px;
    /* padding-bottom: 39px; */
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .best-places__url {
        font-size: 13px;
        line-height: 42px;
    }
}

@media screen and (max-width: 320px) {
    .best-places__url {
        font-size: 12px;
        line-height: 22px;
        grid-area: url;
        padding-top: 38px;
        padding-left: 16px;
    }
}