.question__wrapper {
    max-width: 690px;
}

@media screen and (max-width: 768px) {
    .question__wrapper {
        max-width: 720px;
    }
}

@media screen and (min-height: 320px) and (max-width:517px) {
    .question__wrapper {
        max-width: 288px;
    }
}
