.description__title {
    margin: 0px auto;
    max-width: 720px;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}
/*
@media screen and (max-width: 700px) {
    .description__title {
        max-width: 450px;
        font-size: 74px;
        line-height: 80px;
    }
}

@media screen and (max-width: 665px) {
    .description__title {
        max-width: 400px;
    }
}*/

@media screen and (max-width: 552px) {
    .description__title {
        margin: 0 auto;
        /*max-width: 288px;*/
        line-height: 44px;
        font-size: 40px;
    }
}
