.description__title {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 900;
    font-style: bold;
    font-size: 95px;
    line-height: 99px;
    text-align: center;
    letter-spacing: -4px;
}

@media screen and (max-width: 1024px) {
    .description__title {
        margin: 0 auto;
        /* font-size: 96px; */
        /* letter-spacing: -8px; */
    }
}

@media screen and (max-width: 768px) {
    .description__title {
        margin: 0;
        padding: 0px 24px;
        line-height: 91px;
        font-size: 101px;
    }
}

@media screen and (max-width: 320px) {
    .description__title {
        max-width: 100%;
        margin: 0 auto;
        line-height: 38px;
        font-size: 35px;
    }
}