.best-place__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    padding-top: 12px;
    text-decoration: underline;
    transition: opacity 0.2s ease-in;
}

.best-place__link:hover {
    opacity: 0.8;
}