.best-places__paragraph_bottom {
    grid-area: paragraph_bottom;
    margin: 0;
    font-weight: 400px;
    font-size: 18px;
    line-height: 29px;
    margin-top: 26px;
    align-self: start;
}

@media screen and (max-width: 320px) {
    .best-places__paragraph_bottom {
        grid-area: paragraph_bottom;
        margin: 0px 16px;
        font-weight: 400px;
        font-size: 16px;
        line-height: 26px;
        padding-right: 16px;
        padding-top: 24px;
    }
}