.best-places__paragraph_top {
    grid-area: paragraph_top;
    margin: 0px 16px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 29px;
    padding-right: 16px;
}

@media screen and (max-width: 768px) {
    .best-places__paragraph_top {
        font-size: 16px;
        line-height: 26px;
        padding-right: 16px;
    }
}


/*
@media screen and (max-width: 320px) {
    .best-places__paragraph_top {
        font-size: 16px;
        line-height: 26px;
        padding-right: 16px;
    }
}*/
