.footer__right {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    padding-right: 15px;
}

@media screen and (max-width:1024px) {
    .footer__right {
        font-size: 13px;
        line-height: 12px;
        /* padding-right: 15px; */
    }
}