.best-place {
    max-width: 1280px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    grid-template-areas: "title url" "img paragraphs";
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.best-place:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .best-place {
        grid-template-columns: minmax(320px, 440px) minmax(303px, 529px);
        column-gap: 32px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .best-place {
        grid-template-columns: minmax(320px, 440px) minmax(239px, 455px);
        column-gap: 28px;
        margin-left: 0px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 768px) {
    .best-place {
        max-width: 720px;
        grid-template-columns: minmax(265px, 330px) minmax(272px, 456px);
        column-gap: 28px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 580px) {
    .best-place {
        max-width: 500px;
        padding: 0px 48px;
        grid-template-columns: minmax(200px, 440px) minmax(221px, 456px);
    }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .best-place {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "url" "img" "paragraphs";
        margin-bottom: 50px;
    }
}
