.best-place {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 800px);
    grid-template-areas: "title url" "img paragraphs";
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.best-place:nth-child(2) {
    grid-template-areas: "paragraphs img";
}

.best-place:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .best-place {
        grid-template-columns: repeat(1fr, 1fr);
        grid-template-rows: minmax(max-content, 100px) minmax(200px, 800px);
        width: calc(100% - 2 * 48px);
        column-gap: 32px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .best-place {
        grid-template-columns: minmax(288px, 440px) minmax(288px, 455px);
        column-gap: 28px;
        width: calc(100% - 2 * 48px);
        grid-template-areas: "paragraphs" "img";
        padding-top: 50px;
    }
    .best-place:nth-child(2) {
        grid-template-areas: "paragraphs" "img";
    }
}

@media screen and (max-width: 650px) {
    .best-place {
        width: calc(100% - 2 * 24px);
        grid-template-rows: minmax(max-content, 300px) minmax(200px, 450px);
    }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .best-place {
        padding-top: 30px;
        width: 100vw;
        grid-template-rows: minmax(max-content, 300px) minmax(200px, 400px);
    }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .best-place {
        grid-template-rows: minmax(max-content, 300px) minmax(200px, 320px);
    }
}
