.footer__item {
    padding-right: 18px;
}

.footer__item:last-child {
    padding-right: 0px;
}

@media screen and (max-width: 615px) {
    .footer__item {
        padding-right: 0px;
        padding-bottom: 32px;
    }
    .footer__item:last-child {
        padding-bottom: 48px;
    }
}
