.description__subtitle {
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 600px;
    padding-top: 32px;
    margin: 0px auto 64px;
}

@media screen and (max-width: 1024px) {
    .description__subtitle {
        margin: 0px auto 56px;
    }
}

@media screen and (max-width: 451px) {
    .description__subtitle {
        margin: 0px 16px 40px;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 5px 0px;
    }
}
