.best-places__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    white-space: wrap;
    padding-top: 12px;
    text-decoration: none;
}

.best-places__link:hover {
    text-decoration: underline;
}
