.question__title {
    margin: 0;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 51px;
    margin-bottom: 40px;
}


/*
@media screen and (max-width: 1024px) {
    .question__title {
        line-height: 35px;
    }
}*/

@media screen and (max-width: 768px) {
    .question__title {
        line-height: 58px;
    }
}

@media screen and (max-width: 320px) {
    .question__title {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 4px;
    }
}