.question {
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .question {
        padding-left: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .question {
        padding-left: 16px;
    }
}
