.question {
    max-width: 690px;
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .question {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .question {
        padding: 0px 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .question {
        padding: 0px 16px;
    }
}
