.footer {
    max-width: 1184px;
    margin: 0px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0px 24px 24px;
        margin: 0px auto;
        justify-content: none;
        align-items: none;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 710px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 483px) {
    .footer {
        max-width: 448px;
        flex-direction: column;
        margin: 0px 0px 24px 16px;
    }
}
