.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100vw - 2 * 48px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100vw - 2 * 24px);
    }
}

@media screen and (max-width: 710px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 483px) {
    .footer {
        max-width: 448px;
        flex-direction: column;
        margin: 0;
    }
}
