.best-place__img {
    grid-area: img;
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .best-place__img {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .best-place__img {
        margin: 0px auto;
    }
}
