.best-places__img {
    grid-area: img;
    /*width: 36vw;
    margin-top: -15px;
    /* height: 121vh; */
}

@media screen and (max-width: 1024px) {
    .best-places__img {
        grid-area: img;
        /* width: 43vw; */
        /* height: 100%; */
        /* height: 46vh; */
    }
}

@media screen and (max-width: 768px) {
    .best-places__img {
        width: 100%;
        /* grid-area: img; */
        /* width: 44vw;
        height: 38vh;
        /* margin-bottom: 119px; */
    }
}

@media screen and (max-width: 320px) {
    .best-places__img {
        grid-area: img;
        margin-top: -448px;
    }
}